---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  id="about"
  class="w-10/12 lg:w-[700px] md:w-[650px] mx-auto pt-48 text-white"
>
  <div class="flex items-center">
    <h3
      class="sm:text-4xl text-3xl font-bold pb-11 text-blue-900 dark:text-white"
    >
      <span
        class="sm:text-4xl text-3xl text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
        >03.</span
      >
      <span>{t("about.title")}</span>
    </h3>
  </div>

  <div class="flex flex-col space-y-8 text-blue-900 dark:text-white">
    <p class="text-lg">
      {t("about.text.one")}<span
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
        >{t("about.text.two")}</span
      >{t("about.text.three")}
    </p>

    <p class="text-lg">
      {t("about.text.four")}<span
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
        >{t("about.text.five")}</span
      >{t("about.text.six")}<a
        href="https://landing.ubp.edu.ar/carreras/ingenieria-informatica/"
        target="_blank"
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] group transition-all duration-300 ease-in-out"
        ><span
          class="bg-left-bottom bg-gradient-to-r from-indigo-600 to-indigo-600 dark:from-cyan-300 dark:to-cyan-300 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >{t("about.text.seven")}</span
        ></a
      >. <span>{t("about.text.eight")}</span><a
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] group transition-all duration-300 ease-in-out"
        href="https://ielts.org/take-a-test/test-types/ielts-academic-test"
        ><span
          class="bg-left-bottom bg-gradient-to-r from-indigo-600 to-indigo-600 dark:from-cyan-300 dark:to-cyan-300 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >{t("about.text.nine")}</span
        ></a
      >{t("about.text.ten")}<a
        href="https://www.kmk.org/themen/deutsches-sprachdiplom-dsd.html"
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] group transition-all duration-300 ease-in-out"
        ><span
          class="bg-left-bottom bg-gradient-to-r from-indigo-600 to-indigo-600 dark:from-cyan-300 dark:to-cyan-300 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >{t("about.text.eleven")}</span
        ></a
      >).
    </p>

    <p class="text-lg">
      {t("about.text.twelve")}<a
        href="https://adventofcode.com/"
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] group transition-all duration-300 ease-in-out"
        ><span
          class="bg-left-bottom bg-gradient-to-r from-indigo-600 to-indigo-600 dark:from-cyan-300 dark:to-cyan-300 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >{t("about.text.thirdteen")}</span
        ></a
      >
      {t("about.text.fourteen")}
      <a
        href="https://cordobagamejam.com.ar/"
        class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] group transition-all duration-300 ease-in-out"
        ><span
          class="bg-left-bottom bg-gradient-to-r from-indigo-600 to-indigo-600 dark:from-cyan-300 dark:to-cyan-300 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
          >{t("about.text.fifteen")}</span
        ></a
      >.
    </p>

    <p class="text-lg"></p>
  </div>
</div>
