<div
  id="about"
  class="w-10/12 lg:w-[700px] md:w-[650px] mx-auto pt-48 text-white"
>
  <div class="flex items-center">
    <h3 class="sm:text-4xl text-3xl font-bold pb-11 text-blue-900 dark:text-white">
      <span class="sm:text-4xl text-3xl text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
        >03.</span
      >
      <span >About me</span>
    </h3>
  </div>

  <div class="flex flex-col space-y-8 text-blue-900 dark:text-white">
    <p class="text-lg">
      My name is Juan Ignacio Battiston, but you can call me <span
        class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]">Juani</span
      >. I started coding in 2020 by building simple discord bots for my
      friend's server, and I quickly developed a passion for it.
    </p>

    <p class="text-lg">
      I am a Python developer interested in <span class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
        >data science</span
      > and <span class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]">freelancing</span> while pursuing my third
      year of <a
        href="https://landing.ubp.edu.ar/carreras/ingenieria-informatica/"
        target="_blank"
        class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]">Computer Engineering degree at UBP</a
      >. Additionally, I hold certifications in English (<a
        class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
        href="https://ielts.org/take-a-test/test-types/ielts-academic-test"
        >IELTS Academic - C1 level</a
      >) and German (<a
        href="https://www.kmk.org/themen/deutsches-sprachdiplom-dsd.html"
        class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]">DSDII - C1 level</a
      >).
    </p>

    <p class="text-lg">
      I'm always eager to learn something new and take on fresh challenges. I
      actively participate in <a
        href="https://adventofcode.com/"
        class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]">Advent of Code</a
      > almost every year, and for the past two years, I've been involved in the
      <a href="https://cordobagamejam.com.ar/" class="text-indigo-600 drop-shadow-[0_2px_2px_rgba(79, 70, 229, 0.3)] dark:text-cyan-300 dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
        >Cordoba Game Jam</a
      >.
    </p>

    <p class="text-lg"></p>
  </div>
</div>
