---
import ThemeIcon from "./ThemeIcon.astro";
import ThemeIconMobile from "./ThemeIconMobile.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <nav class="relative pt-6 flex justify-end items-center bg-transparent">
    <ul
      class="hidden md:flex md:mx-auto md:items-center md:w-auto md:space-x-6"
    >
      <li>
        <span
          class="text-indigo-600 dark:text-cyan-300 text-[1.1rem] font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var pr-1"
          >01.</span
        ><a
          href="#work"
          class="text-blue-900 dark:text-white text-lg font-bold hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
          >{t("nav.work")}</a
        >
      </li>
      <li>
        <span
          class="text-indigo-600 dark:text-cyan-300 text-[1.1rem] font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var pr-1"
          >02.</span
        ><a
          href="#projects"
          class="text-blue-900 dark:text-white text-lg font-bold hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
          >{t("nav.projects")}</a
        >
      </li>
      <li>
        <span
          class="text-indigo-600 dark:text-cyan-300 text-[1.1rem] font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var pr-1"
          >03.</span
        ><a
          href="#about"
          class="text-blue-900 dark:text-white text-lg font-bold hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
          >{t("nav.about")}</a
        >
      </li>
      <li>
        <span
          class="text-indigo-600 dark:text-cyan-300 text-[1.1rem] font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var pr-1"
          >04.</span
        ><a
          href="#contact"
          class="text-blue-900 dark:text-white text-lg font-bold hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
          >{t("nav.contact")}</a
        >
      </li>
      <li>
        <ThemeIcon />
      </li>
    </ul>
  </nav>
  <nav
    x-data="{ navigationOpen: false }"
    x-init="navigationOpen = false;"
    x-cloak
  >
    <div
      class="flex justify-end items-center absolute top-0 right-0 py-4 px-4 z-30"
    >
      <button
        class="flex items-center text-indigo-600 dark:text-cyan-300 p-3 md:hidden"
        @click="navigationOpen = !navigationOpen;"
      >
        <svg
          class="block h-5 w-5 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
      <div
        id="mobile-nav"
        class="fixed top-0 right-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 z-30 transform transition-all duration-300 bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,163,255,0.1),rgba(0,163,255,0.1))] dark:bg-blue-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(30,58,138,0.9),rgba(15,30,70,0.9))]"
        @click.away="navigationOpen = false"
        x-trap.noscroll="navigationOpen"
        x-show="navigationOpen"
        x-transition:enter-start="opacity-0 lg:scale-75"
        x-transition:enter-end="opacity-100 lg:scale-100"
        x-transition:leave-start="opacity-100 lg:scale-100"
        x-transition:leave-end="opacity-0 lg:scale-75"
        :hidden="!navigationOpen"
      >
        <div class="flex items-center justify-between">
          <ThemeIconMobile />
          <button
            class="navbar-close"
            @click="navigationOpen = !navigationOpen"
          >
            <svg
              class="h-7 w-7 text-indigo-600 dark:text-cyan-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <ul class="flex flex-col mx-auto my-auto">
          <li class="py-6 flex flex-col items-center justify-center mx-auto">
            <span
              class="text-indigo-600 dark:text-cyan-300 text-xl font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
              >01.</span
            >
            <a
              href="#work"
              class="text-blue-900 dark:text-white text-xl text-medium hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
              @click="navigationOpen = !navigationOpen">{t("nav.work")}</a
            >
          </li>
          <li class="py-6 flex flex-col items-center justify-center mx-auto">
            <span
              class="text-indigo-600 dark:text-cyan-300 text-xl font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
              >02.</span
            ><a
              href="#projects"
              class="text-blue-900 dark:text-white text-xl text-medium hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
              @click="navigationOpen = !navigationOpen">{t("nav.projects")}</a
            >
          </li>
          <li class="py-6 flex flex-col items-center justify-center mx-auto">
            <span
              class="text-indigo-600 dark:text-cyan-300 text-xl font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
              >03.</span
            ><a
              href="#about"
              class="text-blue-900 dark:text-white text-xl text-medium hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
              @click="navigationOpen = !navigationOpen">{t("nav.about")}</a
            >
          </li>
          <li class="py-6 flex flex-col items-center justify-center mx-auto">
            <span
              class="text-indigo-600 dark:text-cyan-300 text-xl font-bold drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var"
              >04.</span
            ><a
              href="#contact"
              class="text-blue-900 dark:text-white text-xl text-medium hover:text-indigo-600 dark:hover:text-cyan-300 transition duration-300 ease-in-out hover:drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] hover:dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
              @click="navigationOpen = !navigationOpen">{t("nav.contact")}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="backdrop fixed top-0 left-0 w-full h-full backdrop-blur-[3px] z-[29] pointer-events-none transform transition-all duration-300"
      x-show="navigationOpen"
      x-transition:enter-start="opacity-0 lg:scale-75"
      x-transition:enter-end="opacity-100 lg:scale-100"
      x-transition:leave-start="opacity-100 lg:scale-100"
      x-transition:leave-end="opacity-0 lg:scale-75"
      :hidden="!navigationOpen"
    >
    </div>
  </nav>
</header>
