<header>
	<nav class="flex flex-wrap items-center justify-center pt-9 px-12">
		<ul class="flex space-x-9 font-bold">
			<li>
				<span class="text-cyan-400 text-medium font-bold drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var">01. </span><a href="#work" class="text-white font-bold hover:text-cyan-400">Work</a>
			</li>
			<li>
				<span class="text-cyan-400 text-medium font-bold drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var">02. </span><a href="#projects" class="text-white font-bold hover:text-cyan-400">Projects</a>
			</li>
			<li>
				<span class="text-cyan-400 text-medium font-bold drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var">03. </span><a href="#about" class="text-white font-bold hover:text-cyan-400">About</a>
			</li>
			<li>
				<span class="text-cyan-400 text-medium font-bold drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)] font-inconsolata-var">04. </span><a href="#contact" class="text-white font-bold hover:text-cyan-400">Contact</a>
			</li>
		</ul>
	</nav>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
		const navLinks = document.querySelectorAll('nav a');
		
		navLinks.forEach(function(navLink) {
			navLink.addEventListener('click', function(this: HTMLElement, e: Event) {
				e.preventDefault();
				const targetId = (navLink as HTMLAnchorElement).getAttribute('href');
				const targetElement = document.querySelector(targetId!); // Use '!' to assert non-null
				if (targetElement) {
					const offsetTop = (targetElement as HTMLElement).offsetTop;
					window.scrollTo({
						top: offsetTop,
						behavior: 'smooth'
					});
				}
			});
		});
	});
	</script>
</header>