---
import LinkButton from "../components/LinkButton.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="w-10/12 lg:w-[700px] md:w-[650px] mx-auto py-48">
  <h3
    class="md:text-xl text-medium font-medium pb-3 dark:text-gray-200 text-blue-900"
  >
    {t("intro.title")}
  </h3>
  <h1
    class="gradient-text md:text-[4.3rem] sm:text-[4.1rem] text-[2.4rem]/[1.25] font-extrabold text-transparent pb-3"
  >
    Juan I. Battiston
  </h1>
  <p
    class="md:text-xl text-medium pt-3 pb-7 font-medium dark:text-gray-200 text-blue-900"
  >
    <span
      class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
      >{t("intro.description_role")}</span
    >
    {t("intro.description_text")}
    <span
      class="text-indigo-600 dark:text-cyan-300 drop-shadow-[0_2px_2px_rgba(79,70,229,0.3)] dark:drop-shadow-[0_2px_2px_rgba(103,232,249,0.3)]"
      >{t("intro.description_htext")}</span
    >
    {t("intro.description_text2")}
  </p>
  <div class="flex items-center justify-between">
    <ul class="flex flex-row items-center">
      <li>
        <button
          class="gradient-button bg-gradient-to-r from-cyan-300 to-indigo-400 text-blue-900 dark:text-gray-800 font-bold sm:py-5 sm:px-9 sm:text-lg text-xs py-5 px-3 rounded inline-flex items-center"
        >
          <svg
            class="fill-current w-4 h-4 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            ><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"></path></svg
          >
          <span>{t("intro.cv")}</span>
        </button>
      </li>
      <li class="sm:pl-10 pl-4">
        <LinkButton
          text="Linkedin"
          svg="fa-brands fa-linkedin fa-xl"
          link="https://www.linkedin.com/in/juani-battiston-490530245/"
        />
      </li>
      <li class="sm:pl-10 pl-4">
        <LinkButton
          text="Github"
          svg="fa-brands fa-github fa-xl"
          link="https://github.com/JuaniBattiston"
        />
      </li>
      <li class="sm:pl-10 pl-4">
        <LinkButton
          text="Mail"
          svg="fa-regular fa-envelope fa-xl"
          link="mailto:juani.battiston2002@gmail.com"
        />
      </li>
    </ul>
  </div>
</div>
