---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

//add dictionary to relate en/es to a flag
const langFlag: { [key: string]: string } = {
  en: "/us.svg",
  es: "/ar.svg",
};

const currentLang = getLangFromUrl(Astro.url);
const currentFlag = langFlag[currentLang];
---

<div class="flex justify-center">
  <div
    x-data="{ dropdownOpen: false }"
    x-init="dropdownOpen = false;"
    x-cloak
    x-on:keydown.escape.prevent.stop="dropdownOpen = false"
    x-id="['dropdown-button']"
    class="relative"
  >
    <button
      x-ref="button"
      x-on:click="dropdownOpen = !dropdownOpen;"
      :aria-expanded="dropdownOpen.toString()"
      :aria-controls="$id('dropdown-button')"
      type="button"
      class="relative inline-flex items-center justify-center p-[0.150rem] overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br gradient-tag text-blue-900 dark:text-white"
    >
      <div
        class="flex items-center justify-center w-auto h-auto py-2 px-2 bg-sky-100 dark:bg-slate-900 rounded-md"
      >
        <span class="pr-2 flex items-center justify-center">
          <img
            src={currentFlag ? currentFlag : langFlag[currentLang]}
            alt="Language Icon"
            class="w-5 h-5"
          />
        </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-indigo-600 dark:text-cyan-300"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
    <div
      x-ref="panel"
      x-show="dropdownOpen"
      x-transition:origin.top.left
      x-on:click.away="dropdownOpen = false"
      :id="$id('dropdown-button')"
      class="absolute left-0 mt-2 w-auto rounded-md bg-white dark:bg-slate-900 shadow-md"
    >
      <ul>
        {
          Object.entries(languages).map(([lang, label]) => (
            <li>
              <a
                class="flex items-center justify-between w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm text-blue-900 dark:text-white hover:bg-sky-100 dark:hover:bg-slate-950"
                href={`/${lang}/`}
              >
                <div class="flex items-center gap-2">
                  <div class="w-5 h-5">
                    <img
                      src={langFlag[lang] || lang}
                      alt="Language Icon"
                      class="w-5 h-5"
                    />
                  </div>
                  <span>{label}</span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
